/*************************************************
*
*	Front-end News! Stylesheet
*
*   
*   Gray (dark)	  #252525
*   Gray (light)  #b7b7b7
*   Orange        #f26522
*
************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,500,700,300,200,900|Source+Sans+Pro:400,300,600,700,900);

/*----------------------------------------------
* Base
-----------------------------------------------*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #252525;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 5px;
    margin-top: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {}

a {
    color: #fff;
    transition: 0.2s ease-in-out;
}

a:active,
a:hover,
a:focus {
    color: #f26522;
}


/*----------------------------------------------
* Wrap
-----------------------------------------------*/

.wrap {
    height: 100vh;
    display: flex;
}


/*----------------------------------------------
* Main
-----------------------------------------------*/

main {
    flex: 1;
    display: flex;
}

aside {
    flex: 1;
    color: white;
    background: #252525;
    overflow-y: scroll;
    padding: 0.5em 2em;
}

main-content {
    display: flex;
    flex: 8;
    flex-direction: column;
}

.navbar {
    flex-direction: row;
    color: #252525;
    background-color: #f26522;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
}

.nav-items {
    align-self: center;
    padding: 0.5em 1em;
}


/* .nav-items a:active,
.nav-items a:hover,
.nav-items a:focus {
    background-color: #252525;
    padding: 8px 10px;
} */

article {
    display: flex;
    flex-direction: row;
}

.main-article {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.side-otions {
    flex: 1;
    color: white;
    background: #252525;
    overflow-y: scroll;
    padding: 0.5em 2em;
}

.info-box-1 {
    background: url(/img/bg.png) no-repeat center;
    background-size: cover;
    margin: 5px 5px 0 5px;
    padding: 15px;
    background-color: #eee;
    border-radius: 5px;
    flex-grow: 8;
}

.info-box-2 {
    margin: 5px;
    padding: 15px;
    background-color: #b7b7b7;
    border-radius: 5px;
    flex-grow: 2;
    align-content: flex-end;
}

.info-content {
    display: flex;
    justify-content: flex-start;
}